# Managed by Ansible. Plain HTTP is for this disposable local test network.
ETCD_NAME="{{ inventory_hostname }}"
ETCD_DATA_DIR="/var/lib/etcd/default"
ETCD_LISTEN_CLIENT_URLS="http://127.0.0.1:2379,http://{{ ansible_host }}:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_host }}:2379"
ETCD_LISTEN_PEER_URLS="http://{{ ansible_host }}:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_host }}:2380"
ETCD_INITIAL_CLUSTER="{{ etcd_initial_cluster }}"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_cluster_token }}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_QUOTA_BACKEND_BYTES="67108864"
ETCD_SNAPSHOT_COUNT="1000"
